<div class='navbar-lewagon'>
  <div class='container-home-daan d-flex'>
    <div class='home-icon'>
        <%= link_to root_path do  %>
        <%= image_tag("car.png", class: "car-icon") %>
        <% end %>
    </div>

    <div class='home-navbar-text'><h3><strong>Chris Cars</strong></h3></div>
    
    <div class="nav-item dropdown">
      <a class="navbar-toggler" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="navbar-toggler-icon text-center">
          <i class="fas fa-bars"></i>
      </span>
      </a>
        <img class="avatar dropdown-toggle" src="https://www.biography.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cg_face%2Cq_auto:good%2Cw_300/MTE5NDg0MDU1MjQ5OTc4ODk1/chuck-norris-15720761-1-402.jpg"/>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
        <% if current_user %>
          <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          <%= link_to "Dashboard", cars_path, class: "dropdown-item" %>
          <%= link_to "Chefs", cars_path, class: "dropdown-item" %> 
        <% else  %>
          <%= link_to "Log in", new_user_session_path, class: "dropdown-item" %>
          <%= link_to "Sign up", new_user_registration_path, class: "dropdown-item" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
