<div class="container mt-5">
    <div class="col-lg-6 offset-lg-3">
        <h1>Aanpassen auto..</h1>
        <%= simple_form_for @car do |f| %>
        <%=  f.input :brand %>
        <%=  f.input :car_type %>
        <%=  f.input :year %>
        <%=  f.input :price %>
        <%=  f.input :description %>
        <%= f.input :photo, as: :file %>
        <%= f.submit "Submit", class: "btn btn-primary" %>
        <%  end %>
    </div>
</div>