<div class="cards-container">
    
    <div class="car-cards">
        <% @cars.each do |car| %>
        
            <div class="">
                <div class="car-card">
                    <div class="card-text"><%= link_to car_path(car) do %>
                        <div class="car-card-img" style="background-image: url('<%= cl_image_path(car.photo.key, height: 300, width: 400, crop: :fill )%>')">
                            <%= car.brand %>
                            <%= car.car_type %>
                            <%# <%= car.year %>
                        </div>
                        <% end %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>