
<div class="car-card-show">
    
    <div class="car-image" style="background-image: url('<%= cl_image_path(@car.photo.key, crop: :fill) %>')">
    </div>
    <div class="car-card-type-year d-flex justify-content-between">
        <div class="car-brand-type">
            <%= @car.brand %>
            <%= @car.car_type %>
            <%= @car.year %>
        </div>
        <div class="car-price d-flex">
            <p><h4><i class="fas fa-euro-sign"></i> </h4></p>
            <div class="car-price">
                <h4><%= @car.price %></h4>
            </div>
        </div>
    </div>
    <div class="car-description">
        <%= @car.description %>
    </div>
    <div class="car-links-position" style="justify-content-center">
        <div class="car-links">
            <%= link_to "INDEX", cars_path, class: "btn btn-outline-secondary btn-sm" %>
            <% if user_signed_in? %>
                <%= link_to "EDIT", edit_car_path, class: "btn btn-outline-secondary btn-sm" %>
                <%= link_to "DESTROY", car_path(@car), class: "btn btn-outline-secondary btn-sm", method: :delete, data: { confirm: "Delete?" }%>
            <% end %>
        </div>
    </div>
</div>

